@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Big Mamma</h1>
    <p>De bedste pizzaer til den bedste pris</p>
    <p>@Model.Message</p>
</div>
